TWITCH_CLIENT_ID=your_twitch_client_id
TWITCH_CLIENT_SECRET=your_twitch_client_secret
TWITCH_BOT_ID=your_bot_user_id
TWITCH_TOKEN=your_user_access_token_here
TWITCH_REFRESH_TOKEN=your_refresh_token_here
TWITCH_NICK=your_bot_username
TWITCH_CHANNEL=your_channel_name
PREFIX=!
